<% if flash[:errors] %>
  $('#alert').html("<div class='alert alert-danger alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button><%= flash[:errors] %></div>");
<% end %>
$('input').removeClass('disabled');
$('button').removeClass('disabled');
