<table>
  <tr>
    <td>
      <p class="lede">
      Dear <%=@customer.name %>,
      </p>
      <p>We cannot complete this order at this time. Apologies for any confusion. Please contact us directly if you have any questions. Thank you,
      </p>
      <br>
				Thank you,
      </p>
      <h6><%= @vendor.name %></h6>

    </td>
    <td class="expander"></td>
  </tr>
</table>
